[Desktop Entry]
Version=1.0
Name=MultiSys 
Comment=MultiSys P2P Cryptocurrency
Comment[fr]=MultiSys, monnaie virtuelle cryptographique pair à pair
Comment[tr]=MultiSys, eşten eşe kriptografik sanal para birimi
Exec=multisys-qt %u
Terminal=false
Type=Application
Icon=multisys128
MimeType=x-scheme-handler/multisys;
Categories=Office;Finance;
StartupWMClass=multisys-qt
